

#i1{
    border: 1px solid black;
    border-radius: 20px;
    padding: 3px 3px;
    margin: 40px 30px;
}

/*
body{
    background-color: #0f0;
    background-image: url("https://img.freepik.com/premium-photo/picture-is-separated-by-glowing-skyline-3d-illustration_76964-3874.jpg");
    background-repeat:repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size:contain;
}*/





